body{
    background-image: url("/resimler/back_ground.jpg");

}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
}

.siyah_yaz{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

.gri_yaz{
    color:darkgrey;
}

.kutu{
    background-color: silver;
    width: 58px;
    height:10 px;
    border-radius: 10%;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.kutu2{
    background-color:rgb(227, 227, 227);
    width: 80%;
    height:95%;
    border-radius: 0.5%;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom:20px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left:10%;
}

.anasf_kutu{
    background-color:silver;
    width: 330px;
    height:450px;
    border-radius: 1%;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
}

.right{
    background-color:rgb(91, 172, 253);
    width: 58px;
    height:30px;
    border-radius: 5%;
    padding-left: 10px;
    padding-top: 5px;
}

.renk{
    color:silver;
}